* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.2);
    border-radius: 10px;
   /* border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;*/
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

window#waybar.empty #window {
    background-color: transparent;
}

tooltip {
    color: #ffffff;
    background:rgba(40, 70, 80, 0.8);
    text-shadow: none;
  }

button {
    border: none;
    border-radius: 10px;
    background:rgba(40, 70, 80, 0.315);
    padding: 0 15px 1px 4px;
}

/*https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect*/
button:hover {
    background: rgba(33, 139, 175, 0.581);
}

/* you can set a style on hover for any module like this 
#pulseaudio:hover {
    background-color: #a37800;
}*/

#workspaces {
    margin-left: 3px;
    padding: 0 3px;
	border-radius: 10px;
	background:rgba(40, 70, 80, 0.3);
}

#workspaces button {
    padding-bottom: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 4px;
    background:transparent;
    color: rgba(163, 253, 255, 0.5);
}
#workspaces button.active {
    color:#54defa;
    background:rgba(13, 66, 83, 0.677);
    border-width: 1px;
    border-style: solid;
}

#workspaces button:hover {
    background: rgba(33, 139, 175, 0.581);
    box-shadow: none;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    /*box-shadow: inset 0 -3px #ffffff;*/
}

#clock {
    background:rgba(40, 70, 80, 0.3);
    border-radius: 10px;
    padding: 0 10px 0;
}

#custom-notification {
    background:rgba(40, 70, 80, 0.3);
    border-radius: 10px;
}
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

/*#custom-nixosicon {
    color:#00d5ff;
    background: transparent;
    padding: 0 5px;
}*/

#window {
    padding-left: 8px;
    padding-right: 10px;    
}
#workspaces/* {
    margin: 0 4px;
}*/

.modules-left {
    background:rgba(40, 70, 80, 0.3);
    color: #ffffff;
    border-radius: 10px;

}

.modules-center {
    background: transparent;
    color: #ffffff;
    border-radius: 10px;
}

.modules-right {
    background:rgba(40, 70, 80, 0.3);
    color: #ffffff;
    border-radius: 10px;
}

#battery.charging , #battery.plugged {
    color: #ffffff;
    background:rgba(40, 70, 80, 0.315);
    border-radius: 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    padding-left: 10px;
    padding-right: 10px;
}

#memory {
    padding-left: 10px;
    padding-right: 10px;
}

#disk {
    background-color: #964B00;
}

#network {
    padding-left: 5px;    
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    color: #ffffff;
    background:rgba(40, 70, 80, 0.315);
    border-radius: 10px;
    padding: 0 13px 0 5px;
    margin: 1px;
}

#pulseaudio.muted {
    background-color: #fa4d8d;
    color: #000000;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
    margin: 1px;
}

#wireplumber.muted {
    background-color: #fa4d8d;
}

#custom-media {
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#custom-notification {
    margin: 1px 3px 1px 1px;
    padding-left: 11px;
    padding-right: 3px;
}

#custom-power {
    padding-right: 2px;
    margin: 1px;
}

#temperature {
    color: #ffffff;
    background:rgba(40, 70, 80, 0.3);
    border-radius: 10px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    color: #ffffff;
    background:rgba(40, 70, 80, 0.3);
    border-radius: 10px;
    margin: 1px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    color: #ffffff;
    background:rgba(40, 70, 80, 0.315);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 20px;
    margin: 1px;
}

#idle_inhibitor.activated {
    background-color: #fa4d8d;
    color: #2d3436;
}

#mpris {
    color: #ffffff;
    background:rgba(40, 70, 80, 0.315);
    margin-left: 3px;
    border-radius: 10px;
    padding: 0 10px;
    font-family: Orbitron;
    font-size: 18px;
}

#mpris.disconnected {
    background-color: #fa4d8d;
}

#mpris.stopped {
    background-color: #1c4752;
}

#mpris.paused {
    background-color: #64727D;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    color: #ffffff;
    background:rgba(40, 70, 80, 0.315);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 7px;
    margin: 1px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    color:#00ffaa;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}